@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=UnifrakturCook:wght@700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family: 'Oswald';
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.25);  
}

 body{
 background-color: #85201C;
}

div.leftside {
    width: 1920/2px;
    padding: 0px 3px 0px 0px;
    float: left;
}

div.rightsideideenfindung1{
    margin-left: 1920/2px;
    max-width: 100%;

}

div.char{
    margin-left: 1920;
    max-width: 100%;
}


div.rightside {
    margin-left: 1920/2px;
    max-width: 100%;
    
}
div.sources{
    font-size:1em;
}

div.poster {
   width:50%;
   float: left;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

h1,h2,h3,h4,h5,h6,p {
  font-family: 'UnifrakturCook';
  color: white;
  text-shadow: 0 2px 2px #737373;
  letter-spacing: -1px;
  padding: 1rem;
}

li {
    color: #FCFCFC;
}

h1 {
    font-size: 10em;
    color: #FCFCFC;
    text-shadow: 0 2px 2px #737373;
    margin: auto;
}

h2 {
    font-size: 8em;
    color: #FCFCFC;
    text-shadow: 0 1px 1px #737373;
    padding: 0.5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 2rem;
    color:#FCFCFC;
}

ul,ol,dl {
  font-size: 3rem;
  list-style-position: inside;
}

li {
    margin-bottom: .7ex;
    font-size:1em;
}

li > ul {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

img {
    border-radius: 2px;
    margin-right: 2px;
    margin-left: 2px;
}

.code {
    color: #ffffff;
    background-color: #85201C;
    padding: 1.5rem;
    border-radius: 2px;
}

.code > span {
    background-color: inherit;
}

.step {
    width: 1600px;
}

img {
    clear: right;
    max-width: 50%;
    margin-left: 16px;
    vertical-align: middle;
    padding: 6px;
}

a {
    color: #D0D0D0;
}

tt {
    font-family: Monaco, monospace;
}

.fullscreen-image-class img {
    float: none;
    clear: both;
    max-width: 100%;
    margin: auto;
    display: block;
}

img.big {
    max-width: 65%;
}

img.inline {
    display: inline-block;
    float: none;
    clear: none;
    margin: 4px;
}

.header img {
    opacity: 1;
    width: 15%;
    position: absolute;
    right: 0;
}

.imgcenter {
    text-align: center;
}

.footer {
    position: absolute;
    bottom:0;
    right:0;
    color: white;
}
