{% extends "proto/base.html" %}
{% load static %}

{% block head %}
{#  {{ super() }} #} {# TODO: fix super() invocation to render base's contents ##}
{{ block.super }}
<script src="{% static 'js/phaser.min.js' %}"></script>
<style type="text/css">
    body {
        margin: 0;
    }
</style>
{% endblock %}

{% block content %}
<script charset="utf-8">
    // Resolve static paths and assign them to vars, to make them usable inside aygoto.js
    var bomb = "{% static 'assets/protoassets/bomb.png' %}";
    var level = "{% static 'assets/protoassets/Karte.json' %}";
    var tileset = "{% static 'assets/tilesets/32x32_tilemap.png' %}";
    var charakter = "{% static 'assets/protoassets/charakter.png' %}";
</script>
<script type="text/javascript" src="{% static 'assets/protoassets/lookup.json' %}"></script>
<script src="{% static 'js/aygoto.js' %}"></script>
{% endblock %}
