{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!---<script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script>-->
    <script src="{% static 'js/phaser.min.js' %}"></script>
</head>
<body>

    <script src="{% static 'js/aygoto.js' %}">
    </script>

</body>
</html>
