{% extends "proto/base.html" %}

{% block head %}
  {{ block.super  }}
{% endblock %}

{% block content %}
<div class="navbar">
  <a href="/">Home</a>
  <a href="admin/">Admin</a>
  <a href="{% url 'levels' %}">Levels</a>
  <a href="api/">API</a>
</div>
<h1>hello, from aygoto</h1>
{% endblock %}
