{% extends "proto/game.html" %}
{% load static %}

{% block content %}
  <!--
  <h1>{{ level.name }}</h1>

  here, some json data:

  <pre>{{ level.data }}</pre>

  -->
  <script>
   // here, some json data:
   {#  #var data = {{ level.data  }}; #}


   <!-- Provide direct data access from DB -->
   var above = {{ level.data.above  }};
   var equals = {{ level.data.equals }};
   var below = {{ level.data.below  }};
  </script>
{{ block.super }}
{% endblock %}
