{% extends "proto/base.html" %}
{% load static %}

{% block content %}
  <ul>
  {% for lvl in levels %}
      <li><a href="{% url 'level' pk=lvl.pk %}">{{ lvl.name }}</a></li>
  {% empty %}
      <p>No Levels present yet!</p>
  {% endfor %}
  </ul>
{% endblock %}
