{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>aygoto</title>
    <!--<script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script> -->
    <script src="{% static 'js/phaser.min.js' %}"></script>
    <!-- Let's check whether we can import this whole shit from the header section...-->
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>

    <script charset="utf-8">
        // Resolve static paths and assign them to vars, to make them usable inside aygoto.js
        var bomb = "{% static 'assets/protoassets/bomb.png' %}";
        var level = "{% static 'assets/protoassets/Karte.json' %}";
        var tileset = "{% static 'assets/tilesets/32x32_tilemap.png' %}";
        var charakter = "{% static 'assets/protoassets/charakter.png' %}";
        var music = "{% static 'assets/audio/music.mp3' %}";
    </script>
    <script type="text/javascript" src="{% static 'assets/protoassets/lookup.json' %}"></script>
    <script src="{% static 'js/aygoto.js' %}"></script>
</body>
</html>
