/* Fonts */
@font-face {
    font-family: "Unifraktur";
    src: url("../ttf/UnifrakturCook.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald";
    src: url("../ttf/Oswald-Regular.ttf") format("truetype");
}

/* General behaviour */
h1,h2,h3 {
    font-family: "Unifraktur";
    color: #FFFFFF;
}

p,a,ul,li,ol {
    font-family: "Oswald";
    color: #FFFFFF;
}

body {
    background-color: #85201C;
}

ul{
    list-style-type: square;
    margin: 10px;;
}

ol{
    list-style-type:lower-latin;
    margin: 10px;
}
